.footer .company {
    color: inherit;
    margin-top: 15px;
}
.footer__bott {
    color: #fff;
    opacity: 0.7;
}
.footer {
    background: linear-gradient(90deg,#29323c 0,#485563 100%),#0b0b0b;
}
.footer__top {
    background: none;
}
.main__form .list_items {
    width: fit-content;
    right: 0;
    left: unset;
}

.main__form .input-change .list_items {
    width: 100%;
}